*{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.table{
  font-size: 14px;
}
.mt-4{
	margin: 40px 0;
}
.cont-dashboard{
	padding: 0 3%;
}
.list-group-item{
	font-weight: 600;
	font-size: 14px;
}
.menu-active{
	background: #34495e;
	color: #FFF;
}
.menu-active:hover{
	background: #2c3e50;
	color: #FFF;
}
.parent-pesanan{
	position: absolute;
	right: 20px;
}
.child-pesanan{
	display: none;
}
.child-active{
	background: #2c3e50;
	color: #FFF;
}
.child-pesanan-collapse{
	display: block;
}
.btn-save-ongkir{
	background: green;
	color: #FFF;
	font-size: 20px;
	padding: 0px 5px 2px 5px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.judul-item{
	width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#image-preview{
  max-width:280px;
  display:block;
  margin-bottom: 20px;
}
#img-preview{
  max-width:280px;
  display:block;
  margin-bottom: 20px;
}
/*-- LOGIN / DAFTAR SECTION --*/
.logo-daftar-login{
	margin: 50px 0;
}
.logo-daftar-login a{
	text-decoration: none;
	color: black;

}
.form-daftar{
	margin-top: 20px;
}
.box-registrasi-login{
	width: 350px;
	padding: 25px;
	border-radius: 8px;
}
.box-dashboard{
	margin-bottom: 20px;
}
.box-dashboard-resume{
	margin: 20px 0;
}
.box-dashboard-inside{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 20px;
	background: white;
	position: relative;
}
.box-inside-resume{
	padding: 5% 10%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align: right;
	background: white;
}
.box-inside-resume p{
	padding: 0;
	margin: 0;
	margin-top: 10px;
}
.img-box-resume{
	padding: 10%;
}
.canvas-cart{
	max-height: 400px;
}
.btn-print{
	position: absolute;
	top: 15px;
	right: 15px;
}
.div-booking{
	position: relative;
	overflow: hidden;
	padding: 10px 0 25px 0;
}
.btn-save{
	font-size: 12px;
	width: 100%;
}
.btn-close-book{
	width: 100%;
	font-weight: 700;
}
.btn-booking-mode{
	font-weight: 700;
}

/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dataTables_wrapper .dt-buttons button{
  border: 0;
  padding: 5px 10px;
  font-size: 20px;
  background: none;
  float: left;
}
.dataTables_wrapper .dt-buttons button:hover{
  font-size: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}